<img id="my-pic" src="{{this.author.profileImage}}"> {{this.author.firstName}} {{this.author.lastName}} <small>Shared Picture</small>
<p>Posted on:<small> {{this.date}}</small></p>
<p>{{this.text}}</p>
